body, html{
    background-color:lightslategrey; 
    color: rgb(82, 63, 69);
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

h1{
    color: firebrick;
    background-color: blue;
    
}

footer{
    position: fixed;
    bottom:0px;
}

html,
body {
  height: 100%;
}

/* Demo styling  */

body {
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
}

code {
  color: #665;
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

a{
    text-decoration: none;
}