{% extends 'monitoreo/layout.html' %}
{%load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <h1>Pagina de Registro</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class= "form-group">
            <legend class="border-bottom mb-4">Ingresa a la app</legend>
            {{form|crispy}}
        </fieldset>
        <div class= "form-group">
            <button type="submit">Registrar</button>
    </form>
    <div class="border-top pt-3 ">
        <small class="text-muted">
            Ya tienes una cuenta? <a class="ml-2" href="{% url 'monitoreo-registro' %}">Ingresa aca</a>
        </small>
    </div>
</div>    
{% endblock content %}